//----------------------------------*\
// FONTS
//----------------------------------*/
$font: 'Lato', sans-serif;

//----------------------------------*\
// COLORS
//----------------------------------*/
$river-bed: #404959;
$concrete: #F2F2F2;
$nepal: #62718D;