@import './../vars';

.accordion {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    background: $dark-blue;
    color: $dark-grey;
    display: block;
    font-weight: 700;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .5s;

    &:hover {
      background: $river-bed;
      color: $white;
    }

    &.active {
      background: $river-bed;
      color: $white;
    }
  }

  ul ul a {
    background: $light-blue;
    padding-left: 40px;
    padding-right: 20px;

    &:hover {
      background: $nepal;
      color: $white;
    }

    &.active {
      background: $nepal;
      color: $white;
    }
  }
  .content {
    margin: 0;
    padding: 20px 20px 20px 60px;

    li {
      list-style: square;
    }

    li,
    p {
      margin: 0;
      padding: 0;
    }
  }

  .dropdown {
    display: none;
  }
}
