//----------------------------------*\
// FONTS
//----------------------------------*/
$font: Arial,Helvetica Neue,Helvetica,sans-serif;

//----------------------------------*\
// COLORS
//----------------------------------*/
$dark-blue: rgb(239, 238, 242);
$light-blue: rgb(223, 226, 232);
$dark-grey: rgb(53, 52, 53);
$river-bed: #404959;
$concrete: #f2f2f2;
$nepal: #62718d;
$white: #fff;
