body {
  font-family: "Lato", sans-serif;
  max-width: 100%;
  overflow-x: hidden; }

img {
  height: auto;
  max-width: 100%; }

.container {
  margin: auto;
  padding: 0 15px; }

.accordion ul {
  margin: 0;
  padding: 0; }

.accordion li {
  list-style: none; }

.accordion a {
  background: #efeef2;
  color: #353435;
  display: block;
  font-weight: 700;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s; }
  .accordion a:hover {
    background: #404959;
    color: #fff; }
  .accordion a.active {
    background: #404959;
    color: #fff; }

.accordion ul ul a {
  background: #dfe2e8;
  padding-left: 40px;
  padding-right: 20px; }
  .accordion ul ul a:hover {
    background: #62718D;
    color: #fff; }
  .accordion ul ul a.active {
    background: #62718D;
    color: #fff; }

.accordion .content {
  margin: 0;
  padding: 20px 20px 20px 60px; }
  .accordion .content li {
    list-style: square; }
  .accordion .content li,
  .accordion .content p {
    margin: 0;
    padding: 0; }

.accordion .dropdown {
  display: none; }

.grid-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .grid-cta figure {
    background: #dfe2e8;
    margin: 0 0 20px;
    padding: 0;
    width: 100%; }
  .grid-cta figcaption {
    padding: 20px; }
  .grid-cta img {
    display: block;
    width: 100%; }

@media (min-width: 768px) {
  .grid-cta figure {
    width: 50%; } }

@media (min-width: 992px) {
  .grid-cta figure {
    width: 25%; } }
