body {
  font-family: "Lato", sans-serif;
  max-width: 100%;
  overflow-x: hidden; }

.container {
  margin: auto;
  padding: 0 15px; }

.accordion ul {
  margin: 0;
  padding: 0; }

.accordion li {
  list-style: none; }

.accordion a {
  background: #efeef2;
  color: #353435;
  display: block;
  font-weight: 700;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s; }
  .accordion a:hover {
    background: #404959;
    color: #fff; }
  .accordion a.active {
    background: #404959;
    color: #fff; }

.accordion ul ul a {
  background: #dfe2e8;
  padding-left: 40px;
  padding-right: 20px; }
  .accordion ul ul a:hover {
    background: #62718D;
    color: #fff; }
  .accordion ul ul a.active {
    background: #62718D;
    color: #fff; }

.accordion .content {
  margin: 0;
  padding: 20px 20px 20px 60px; }
  .accordion .content li {
    list-style: square; }
  .accordion .content li,
  .accordion .content p {
    margin: 0;
    padding: 0; }

.accordion .dropdown {
  display: none; }
