@import './../vars';

body {
  font-family: $font;
  line-height: 1.4;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: auto;
  padding: 0 15px;
}

.fixed-width {
  max-width: 800px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.placeholder {
  align-items: center;
  background: $concrete;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  min-height: 100vh;
}
