@import './../vars';

.grid-cta {

  .flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .abv-filter {
    display: block;
  }

  figure {
    background: $concrete;
    margin: 0 0 2px;
    padding: 40px 0 0;
    width: 100%;
  }

  figcaption {
    padding: 20px;
  }

  img {
    display: block;
    font-family: 'object-fit: contain; object-position: center;';
    height: 300px;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

}

@media (min-width: 768px) {
  .grid-cta {
    figure {
      border-right: 2px solid $white;
      width: calc(50% - 2px);

      &:nth-child(2n) {
        border-right: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .grid-cta {
    figure {
      width: calc(25% - 2px);

      &:nth-child(2n) {
        border-right: 2px solid $white;
      }

      &:nth-child(4n) {
        border-right: 0;
      }
    }
  }
}
